{% extends "specialist/layout.html" %}
{% block title %}Статусы заявлений{% endblock %}

{% block specialist_content %}
<h2>Статусы заявлений</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Абитуриент</th>
        <th>Email</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% for app in apps %}
    <tr>
        <td>{{ app.id_aplic }}</td>
        <td>{{ app.data }}</td>
        <td>{{ app.id_abit.fam }} {{ app.id_abit.imya }} {{ app.id_abit.otch }}</td>
        <td>{{ app.id_abit.email }}</td>
        <td>{{ app.status }}</td>
        <td>
            <a href="{% url 'specialist_application_detail' app.id_aplic %}">
                Открыть
            </a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">Заявлений нет.</td></tr>
    {% endfor %}
</table>
{% endblock %}
